@charset "utf-8";
body {
    background-image: url("wallpaper.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'special elite', monospace;
    margin: 0;
    padding: 3;
    text-align: center;
} 


.collapsible {
   background-color: #8f7657;
   color:aliceblue;
   cursor: pointer;
   padding: 18px;
   width: 60%;
   border: none;
   right: 100px;
   left: 0px;
   position:relative;
   text-align: left;
   outline: none;
   font-size: 20px;
   font-family: 'eroded-regular', monospace; 
}

.content {
   padding: 0 18px;
   display: none;
   overflow: hidden;
    width: 60%;
   background-color: #372512;
   color: #ffffff;
     padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


header {
    color: #1d1100;
    font-family: 'eroded-regular', monospace;
    font-size:large;
    text-align: center;
    text-shadow: 0px 3px 6px;
    background-color: #593e1e;
}
h1 {
    color: #fff9dd;
    font-family: 'eroded-regular', monospace;
    font-size:xx-large;
    background-color: #593e1e;
    text-align: center;
    text-shadow: 0px 3px 6px;
}
section { 
    border: 2px #1b0f1f;
    border-radius: 20px;
    padding: 20px;


 }
 p {
    color: #fffbee;
    text-align: left;
    background-color: #231627;
    position: relative;
    top: 100%;
    left :0%; 
    width: 40%;
    border-right: 2px solid #372512;
    border-bottom: 2px solid #372512;
    padding: 1rem solid #372512;
    background-color: #372512;
    display: block;
    transition: all 0.5s linear;
 }



 ul {
    text-align: left;
    color: #431200;
    font-size: 35px;
 }

 a {
    color: #d5e7f3;
    background-color: 6691AC
 }
 footers {
    background-color: #000000;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    color: #d5e7f3;
     position: absolute;
     bottom: 0;
     
 }

  li {
   color: #432100;
 } 

 a:hover {
    color: #ffffff;
    background-color: #000000;
 }
