@charset "utf-8";
.collapsible {
   background-color: #6691ac;
   color:aliceblue;
   cursor: pointer;
   padding: 18px;
   width: 60%;
   border: none;
   right: 100px;
   left: 0px;
   position:relative;
   text-align: left;
   outline: none;
   font-size: 20px;
   font-family: 'eroded-regular', monospace; 
}

.content {
   padding: 0 18px;
   display: none;
   overflow: hidden;
    width: 60%;
   background-color: #000000;
   color: #ffffff;
     padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

body {
    background-image: url("Liminaltel.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'special elite', monospace;
    text-align: center;
} 



header {
    color: #9adfff;
    font-family: 'eroded-regular', monospace;
    font-size:large;
    text-align: center;
    text-shadow: 0px 3px 6px;
}
h1 {
    color: #9adfff;
    font-family: 'eroded-regular', monospace;
    font-size:large;
    text-align: center;
    text-shadow: 0px 3px 6px;
}

 footer {
    background-color: #1b0f1f;
    border-radius: 20px;
 }
 h1 {
    background-color: #0000;
    font-family: 'eroded-regular', monospace;
    color: #d5e7f3;
    font-size: 50px;

 }

 



 a {
    color: #d5e7f3;
    background-color: 6691AC
 
 }
 
  footers {
    background-color: #000000;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    color: #d5e7f3;
    bottom: 0;
     
 }
 a:hover {
    color: #6691ac;
    background-color: #000000;
 }

 .picture {
   top: 50px;
   right: 50px;
 }
